.hBox{
    -fx-background-image: url("Imagenes/texturaMuro.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 250 150;
    -fx-background-position: center center;
    -fx-border-width: 3;
    -fx-effect: innershadow(  three-pass-box, rgba(0,0,0,0.5) , 1,1,0,0 );
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: white;
    -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

#texto{
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "arial";
    -fx-text-fill: #00008f8f;
    -fx-effect: dropshadow(  three-pass-box, rgba(0,0,0,1) , 2,2,2,2 );
}